version: "3.8"

services:
    php:
        build: .
        container_name: laravel-php
        volumes:
            - .:/var/www
        networks:
            - laravel

    nginx:
        image: nginx:stable
        container_name: laravel-nginx
        ports:
            - "80:80"
        volumes:
            - .:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - laravel

    mysql:
        image: mysql:8
        container_name: laravel-mysql
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: smartazone
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - laravel

    queue:
        build: .
        container_name: laravel-queue
        command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
        volumes:
            - .:/var/www
        depends_on:
            - php
            - mysql
        networks:
            - laravel

volumes:
    dbdata:

networks:
    laravel:
